In [37]:
name = "Salwa"
age = 19
addres,province = "Cibolang" , "7413412"
scorePython = 99.0
isMarried = False

print ("nama :",name)
print ("umur :",age)
print ("alamat :",addres,province)
print ("Nilai Pemrograman :",scorePython)
print ("Status Menikah :",isMarried)

nama : Mato
umur : 21
alamat : Cibolang 7413412
Nilai Pemrograman : 99.0
Status Menikah : False

In [11]:
print("Tipe Data <name>",type(name))
print("Tipe Data <age>",type(age))
print("Tipe Data <addres>",type(addres))
print("Tipe Data <scorePython>",type(scorePython))
print("Tipe Data <isMarried>",type(isMarried))

Tipe Data <name> <class 'str'>
Tipe Data <age> <class 'int'>
Tipe Data <addres> <class 'str'>
Tipe Data <scorePython> <class 'float'>
Tipe Data <isMarried> <class 'bool'>

In [43]:
#Casting atau konversi Tipe Data
#Konversi dari String ke (int, float, bool)
strToInt = int (province)
strToFloat = float (province)
strToBool = bool(province)
print(strToInt,strToFloat,strToBool, sep="-")

#Konversi dari Int ke (str,int,bool)
intToStr = str(age)
intToFloat = str(age)
intToBool = bool(age)
print(intToStr,intToFloat,intToBool,sep="-")

#konversi dari float ke (str,int,bool)
floatToStr = str (scorePython)
floatToInt = int (scorePython)
floatToBool = bool (scorePython)
print(floatToStr,floatToInt,floatToBool,sep="-")

#konversi dari bool ke (str,int,float)
boolToStr = str(isMarried)
boolToFloat = float(isMarried)
boolToInt = int(isMarried)
print(boolToStr,boolToFloat,boolToInt,sep="-")

7413412-7413412.0-True
21-21-True
99.0-99-True
False-0.0-0

In [47]:
#tipe data basisi bilangan (desimal,biner,oktal,hexa)
desimal=500
biner=0b1010
oktal=0o377
hexa=0xff 

print("nilai desimal dari :",desimal)
print("nilai biner dari :",biner)
print("nilai oktal dari :",oktal)
print("nilai hexa dari :",hexa)

print("nilai biner dari :",desimal,":",bin(desimal))
print("nilai oktal dari :",desimal,":",oct(desimal))
print("nilai hexa dari :",desimal,":",hex(desimal))

nilai desimal dari : 500
nilai biner dari : 10
nilai oktal dari : 255
nilai hexa dari : 255
nilai biner dari : 500 : 0b111110100
nilai oktal dari : 500 : 0o764
nilai hexa dari : 500 : 0x1f4

In [69]:
#Tipe data collection
#List
cities = ["Bandung","Sukabumi","Bogor","Jakarta","Medan"]
lengthCities = len(cities)
print(cities)
print(cities[0])
print(cities[lengthCities-1])
print(cities[lengthCities-1] [0])
print(cities[lengthCities-1][len(cities[lengthCities-1])-1])
cities[0] = "Bali"
#cities[5] = "Malang" akan menyebabkan error out of tuple

#Tuple
names = ("Andi","Ferdi","Raihan")
print(names)
print (names[1])
#Dictionary
studentData = {
    "name" : "Robi",
    "age" : 21,
    "address" : {
        "street" : "cisaat",
        "number" : 21,
        "province" : "Jawa barat"
    },
    "isMarried" : True,
    "hobbies" : ["Basket ball","Football"]
}

print(studentData)
print(studentData["age"])
print(studentData["address"]["province"])
print(studentData["hobbies"][0])

['Bandung', 'Sukabumi', 'Bogor', 'Jakarta', 'Medan']
Bandung
Medan
M
n
('Andi', 'Ferdi', 'Raihan')
Ferdi
{'name': 'Robi', 'age': 21, 'address': {'street': 'cisaat', 'number': 21, 'province': 'Jawa barat'}, 'isMarried': True, 'hobbies': ['Basket ball', 'Football']}
21
Jawa barat
Basket ball

In [77]:
#List Of Dictionary
studentList = [
    {
        "name" : "Robi",
        "age" : 25,
        "address" : {
            "street" : "Cisaat",
            "number" : 21,
            "province" : "Jawa Barat"
        },
        "isMarried" : True,
        "hobbies" : ["Basket BAll", "Football"]
    },
    {
        "name" : "Dedi",
        "age" : 15 ,
        "address" : {
            "street" : "Bogor",
            "number" : 29,
            "province" : "Jawa Barat"
        },
        "isMarried" : False,
        "hobbies" : ["Chess", "Singing"]
    }
]
print (studentList[0])
print (studentList[1])
print (studentList[1]["address"] ["province"])

{'name': 'Robi', 'age': 25, 'address': {'street': 'Cisaat', 'number': 21, 'province': 'Jawa Barat'}, 'isMarried': True, 'hobbies': ['Basket BAll', 'Football']}
{'name': 'Dedi', 'age': 15, 'address': {'street': 'Bogor', 'number': 29, 'province': 'Jawa Barat'}, 'isMarried': False, 'hobbies': ['Chess', 'Singing']}
Jawa Barat

In [87]:
#Konversi dictionary
list_list = [["Name","Andi"],["Age",30],["status",True]]
dictListStudent = dict(list_list)
print(dictListStudent)

list_tuple = [("Name","Rudi"),("Address","Bogor")]
dictTupleStudent = dict(list_tuple)
print(dictTupleStudent)

tuple_list = [("Name","Tiger"),("Type","Mamalia")]
dictListAnimal = dict(tuple_list)
print(dictListAnimal)

tuple_tuple = [("Name","Crocodile"),("Type","Retile")]
dictTupleAnimal = dict(tuple_tuple)
print(dictTupleAnimal)

keys=["Vehicle","Brand","cc"]
values=["car","BMW",2500]
car=dict(zip(keys,values))
print(car)

{'Name': 'Andi', 'Age': 30, 'status': True}
{'Name': 'Rudi', 'Address': 'Bogor'}
{'Name': 'Tiger', 'Type': 'Mamalia'}
{'Name': 'Crocodile', 'Type': 'Retile'}
{'Vehicle': 'car', 'Brand': 'BMW', 'cc': 2500}